main {
  display: flex;
}

.dashboard {
  width: 85%;
  max-width: 1240px;
  margin: auto;
  height: 100%;
  margin-top: 3rem;
}

.graph-section {
  display: flex;
  margin-top: 4rem;
  justify-content: space-between;
  max-width: 1240px;
  height: 100%;
}

.sante {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  min-height: 100%;
}

.graph {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-right: 2rem;
  height: 100%;
}

.graph-bar-activity {
  width: 100%;
  height: 45%;
}

.min-graph-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 45%;
}

.duree-moy,
.radar,
.score {
  width: 32%;
  height: 100%;
}

@media screen and (max-width: 1120px) {
  main {
    max-height: 693px;
  }

  /* .dashboard {
    margin-top: 1.5rem;
  } */

  .graph-section {
    margin-top: 1rem;
  }
}
