*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-header: #020203;
  --color-red: #ff0000;
  --color-info-red: #e60000;
  --color-grey: #282d30;
  --color-bg: #e5e5e5;
  --color-bg-dark: #fbfbfb;
}

li {
  list-style: none;
}

* {
  font-family: "Roboto", sans-serif;
}
